/* relevant styles */
.img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: black;
    visibility: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
    font-size: 40px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    padding: 50px;
}

.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}