.contact-form {
    text-align: center;
}
.project-module-form {
    margin-top: 7%;
    margin-bottom: 40px;
    max-width: 500px;
    width: 100%;
}
.project-module {
    clear: both;
    word-break: break-word;
}
.module .form {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
.texteditor-contact {
    font-size: 14px;
    color: black;
    padding-left: 3%;
    font-family: georgia, serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.primary {
    background-color: cornflowerblue;
    border-radius: 25px;
    width: 35%;
    font-size: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.primary:hover {
    cursor: pointer;
    opacity: 70%;
}

.send:hover {
    cursor: pointer;
    opacity: 70%;
}

.error {
    color: red;
    font-size: 17px;
}

.required:after {
    content:" *";
    color: red;
  }

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form-input {
    text-align: justify;
    padding: 1%;
    margin-top: 2%;
}

.form-input textarea {
    border: 1px solid grey;
}

.form-input input {
    border: 1px dotted grey;
}

.w-35 {
    width: 35% !important;
}