.sub-heading {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 16px;
    font-weight: 300;
}

.btn.link {
    background-color: rgb(130, 131, 209);
    color: white;
}

.btn.link:hover {
    cursor: pointer;
    background-color: rgb(158, 176, 209);
    color: blue;
}

.back-btn {
    padding-left: 65%;
}
